 .btn{
             font-size:50px;
background-color:#000000;
color:white;
border:none;
width:90px;
margin-top:50px;
padding-top: 0.1px;
}
.btn:hover{
font-size:50px;
background-color:red;
color:white;
border:0;
width:70px;
padding-top: 0.1px;
border: 1px solid yellow;
}
.calc-body{
text-align:center;
border:2px solid grey;
background-color:#000000;
height:550px;
display: inline-block;
}
.label{
width:350px;
height:50px;
margin-top:20px;
font-size:30px;
}
body{
  text-align: center;
}